<!doctype html>
<html itemscope itemtype="http://schema.org/Article">
<head>
  {% block title %}<title>schedl.me</title>{% endblock %}
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
  <header>
    <h1>schedl.me</h1>
  {% block header %}
  {% endblock %}
  </header>

  {% block body %}
  {% endblock %}

  {% block footer %}
  <footer>
    <p>Made with sleep deprivation and love by <a href="http://twitter.com/@sdroadie92">Jeremy Neal</a> and <a href="http://twitter.com/@mneary5">Michael Neary</a>.</p>
  </footer>
  {% endblock %}
</body>
</html>
